*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, red, blue);
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.project {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-options a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .footer-options a:hover {
    text-decoration: underline;
  }
  
