*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:url(images/contact.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    padding-right: 13px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}

.contact-form {
    padding: 20px;
}

.contact-form h2 {
    color: #fff;
    text-align: center;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #45a049;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-options a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .footer-options a:hover {
    text-decoration: underline;
  }
  